<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
    <tbody>
        <tr>
            <td>John</td>
            <td>L</td>
            <td>Admin</td>
            <td>Mon Feb 04 2019 19:00:00 GMT-0500 (Eastern Standard Time)</td>
            <td>Absolute Ruler</td>
            <td>999</td>
            <td><a class='btn btn-primary' href='update.hbs'>Update</a></td>
            <td><a class='btn btn-primary' href='delete.hbs'>Delete</a></td>
        </tr>
            
        <tr><td>dfa</td><td>ewr</td><td>Admin</td><td>Wed Feb 13 2019 19:00:00 GMT-0500 (Eastern Standard Time)</td><td>gh</td><td>44</td><td><a class='btn btn-primary' href='update.hbs'>Update</a></td><td><a class='btn btn-primary' href='delete.hbs'>Delete</a></td></tr><tr><td>ewr</td><td>yt</td><td>Dungeon</td><td>null</td><td>uy</td><td>44</td><td><a class='btn btn-primary' href='update.hbs'>Update</a></td><td><a class='btn btn-primary' href='delete.hbs'>Delete</a></td></tr><tr><td>yt</td><td>rew</td><td>CS</td><td>null</td><td>gh</td><td>3</td><td><a class='btn btn-primary' href='update.hbs'>Update</a></td><td><a class='btn btn-primary' href='delete.hbs'>Delete</a></td></tr><tr><td>ewr</td><td>te</td><td>Admin</td><td>Mon Feb 11 2019 19:00:00 GMT-0500 (Eastern Standard Time)</td><td>t</td><td>4</td><td><a class='btn btn-primary' href='update.hbs'>Update</a></td><td><a class='btn btn-primary' href='delete.hbs'>Delete</a></td></tr><tr><td>ytr</td><td>tyu</td><td>Admin</td><td>Tue Feb 05 2019 19:00:00 GMT-0500 (Eastern Standard Time)</td><td>re</td><td>44</td><td><a class='btn btn-primary' href='update.hbs'>Update</a></td><td><a class='btn btn-primary' href='delete.hbs'>Delete</a></td></tr><tr><td>John</td><td>yt</td><td>Dungeon</td><td>Tue Feb 05 2019 19:00:00 GMT-0500 (Eastern Standard Time)</td><td>gh</td><td>999</td><td><a class='btn
btn-primary' href='update.hbs'>Update</a></td><td><a class='btn btn-primary' href='delete.hbs'>Delete</a></td></tr><tr><td>John</td><td>ewr</td><td>CS</td><td>Mon Feb 18 2019 19:00:00 GMT-0500 (Eastern Standard Time)</td><td>Absolute Ruler</td><td>44</td><td><a class='btn btn-primary' href='update.hbs'>Update</a></td><td><a class='btn btn-primary' href='delete.hbs'>Delete</a></td></tr><tr><td>J</td><td>ewr</td><td>Admin</td><td>Mon Feb 11 2019 19:00:00 GMT-0500 (Eastern Standard Time)</td><td>uy</td><td>44</td><td><a class='btn btn-primary' href='update.hbs'>Update</a></td><td><a class='btn btn-primary' href='delete.hbs'>Delete</a></td></tr><tr><td>John</td><td>yt</td><td>Admin</td><td>Mon Feb 11 2019 19:00:00 GMT-0500 (Eastern Standard Time)</td><td>gh</td><td>999</td><td><a class='btn btn-primary' href='update.hbs'>Update</a></td><td><a class='btn btn-primary' href='delete.hbs'>Delete</a></td></tr></tBody></table>
</body>
</html>