<nav class="navbar navbar-default navbar-static-top">    
    <div id="navbar">
      <ul class="nav navbar-nav" style="text-align: center">                                 
        <li><a href="/index">Grid Size</a></li>        
      </ul>
  </div>
</nav>
