<footer>
  <!-- Copyright -->
  <br><br><br><br><br>
  <div style="margin-bottom: 75px" class="footer text-center navbar-fixed-bottom">© 2019 Copyright:
    <a href="/index">Week 7 Homework</a>
  </div>  
  <!-- Copyright -->
</footer>