<footer>
  <!-- Copyright -->
  <br><br><br><br><br>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="/index">Week 7 Homework</a>
  </div>
  <!-- Copyright -->
</footer>