<!DOCTYPE html>


<html lang="en">
<head>
    {{>header}}
    {{>bootstrap}}
    <title>Form it up</title>
</head>
<body>
    <div class="container">
            {{>nav}}
        <div class="row" style="padding:20px">            
            {{{error404}}}
        </div>
    </div>
        {{>footer}}  
</body>
</html>