<!DOCTYPE html>
<style>
    body {
        background-image: Url("images/resultBG.png");
    }

    th, td {
        padding: 10px;
    }
</style>
<html lang="en">
<head>
    {{>header}}
    {{>bootstrap}}

    <title>Form it up</title>
</head>
<body>
    <div class="container">
    {{>nav}}
            <div style="padding-left: 7%; padding-right: 7%;">                
                <div class="row">  
                <h3>You requested a {{numba}} by {{numba}} grid:</h3>
                <label></label>
                {{!-- <ul style="list-style: none">
                    <li><b><label>Number: {{numba}}</label></b></li>                    
                </ul> --}}
                </div>   
                <div class="row">
                    {{{genGrid numba}}}
                </div>       
                <br />
            </div>               
    </div>
    <br />
    <br />
    <br />
    <div id="footer">{{>footer}}</div>
</body>
</html>



