@charset "utf-8";
body {
    background-color: #778899;
    background-image: Url("images/resultBG.png");    
    margin-bottom:50px;
} 

body {
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 700px;
}
label {
    font-weight: bold;
}
.whiteT {
    color: white;
}

th, td{    
    text-align: center;
    border: 1px solid black;    
    padding: 10px;
    min-width: 55px;
    height: 50px;
}

.blackT  {
    color: black;
}

p {
    text-indent: 70px;
}

#footer {  
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;  
 }

 .still, .rotate, .shrink {
    color: red;
    display: inline-block;
    font-size: 60px;
    padding: 1rem;
    text-shadow: 1px 1px 2px black; 
   }
   
   .rotate {
    animation: rotate 1s infinite ease;
   }
   
   .shrink {
    animation: shrink 1s infinite ease;
   }
   
   @keyframes rotate { 
    0% { 
    transform: rotateZ(-30deg);
    }
    50% {
    transform: rotateZ(30deg);
    }
    100% {
    transform: rotateZ(0);
    }
   }
   
   @keyframes shrink { 
    0% { 
    transform: scale(0.8);
    }
    50% {
    transform: scale(1.2);
    }
    100% {
    transform: scale(1);
    }
   }